<div class="education-info-section resume-section">
  <h3 class="header-text">Education</h3>
  <div class="education-info">
    <div class="education-info-group">
      <p class="dates">
        {{ educationDetails?.startDate }}<span> – </span
        >{{ educationDetails?.endDate }}
      </p>
      <p>{{ educationDetails?.location }}</p>
    </div>
    <div class="education-info-group">
      <p class="education-info-schoolName">{{ educationDetails?.school }}</p>
      <p class="education-info-degree">{{ educationDetails?.degree }}</p>
    </div>
  </div>
</div>
