<div class="form-container">
  <div class="download-btn">
    <p-button
      icon="pi pi-download"
      label="Download"
      [rounded]="true"
      [outlined]="true"
      severity="secondary"
      (onClick)="download()"
    ></p-button>
  </div>
  <div class="personal-details">
    <rb-personal-details></rb-personal-details>
  </div>
  <div class="education">
    <rb-education-list></rb-education-list>
  </div>
  <div class="experience">
    <rb-experience-list></rb-experience-list>
  </div>
</div>
