.education-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.education-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  cursor: pointer;

  span {
    font-size: 1rem;
    font-weight: 600;
  }
}

.command {
    display: flex;
    align-items: center;
    justify-content: center;
}