<div class="form-card">
  <h2>Education</h2>
  @if (isEducationFormVisible$ | async) {
    <rb-education-form></rb-education-form>
  } @else {
    <div class="list">
      @for (education of educationList$ | async; track education.id) {
        <div class="row" (click)="editEducation(education?.id)">
          <span>{{ education.school }}</span
          ><i class="pi pi-eye text-blue-500 text-xl"></i>
        </div>
      }
    </div>
    <div class="command">
      <p-button
        label="Education"
        icon="pi pi-plus"
        [rounded]="true"
        [outlined]="true"
        severity="secondary"
        (onClick)="addNewEducation()"
      ></p-button>
    </div>
  }
</div>
