<h1>Resume Builder</h1>
<div class="grid">
  <div class="col-12">
    {{ resumes$ | async | json }}
  </div>
</div>
<div class="grid">
  <div class="col-12 md:col-6">
    <div class="card">
      <h5>Default</h5>
      <div class="flex flex-wrap gap-2">
        <button
          pButton
          pRipple
          label="Load"
          (click)="loadResumes()"
        ></button>

        <button
          pButton
          pRipple
          label="Print"
          (click)="print()"
        ></button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <rb-simple-template id="template"></rb-simple-template>
  </div>
</div>
