<div class="form-card">
  <h2>Experience</h2>
  <div class="list">
    <div class="row">
      <span>Umbrella Inc.</span><i class="pi pi-eye text-blue-500 text-xl"></i>
    </div>
    <div class="row">
      <span>Black Mesa Labs</span
      ><i class="pi pi-eye-slash text-blue-500 text-xl"></i>
    </div>
  </div>
  <div class="command">
    <p-button
      label="Experience"
      icon="pi pi-plus"
      [rounded]="true"
      [outlined]="true"
      severity="secondary"
    ></p-button>
  </div>
</div>
