<div class="form-card">
  <h2>Personal Details</h2>
  <form class="p-fluid">
    <div class="field">
      <label htmlFor="fullName">Full name </label>
      <input pInputText id="fullName" type="text" />
    </div>
    <div class="field">
      <label htmlFor="email">Email</label>
      <input pInputText id="email" type="text" />
    </div>
    <div class="field">
      <label htmlFor="phoneNumber">Phone number</label>
      <input pInputText id="phoneNumber" type="text" />
    </div>
    <div class="field">
      <label htmlFor="address">Address</label>
      <input pInputText id="address" type="text" />
    </div>
  </form>
</div>
