<form
  [formGroup]="educationForm"
  ngxsForm="resumes.sections.education.form"
  [ngxsFormDebounce]="-1"
  class="p-fluid"
>
  <div class="field">
    <label for="school-name"><span class="label-text">School</span></label
    ><input
      type="text"
      pInputText
      id="school-name"
      placeholder="Enter school / university"
      formControlName="school"
    />
  </div>
  <div class="field">
    <label for="degree"><span class="label-text">Degree</span></label
    ><input
      type="text"
      pInputText
      id="degree"
      placeholder="Enter Degree / Field Of Study"
      formControlName="degree"
    />
  </div>
  <div class="dates-group">
    <div class="field">
      <label for="date"><span class="label-text">Start Date</span></label
      ><input
        type="text"
        pInputText
        id="date"
        placeholder="Enter Start Date"
        formControlName="startDate"
      />
    </div>
    <div class="field">
      <label for="date"><span class="label-text">End Date</span></label
      ><input
        type="text"
        pInputText
        id="date"
        placeholder="Enter End Date"
        formControlName="endDate"
      />
    </div>
  </div>
  <div class="field">
    <label for="location"><span class="label-text">Location</span></label
    ><input
      type="text"
      pInputText
      id="location"
      placeholder="Enter Location"
      formControlName="location"
    />
  </div>
  <div class="buttons">
    @if (isEditMode$ | async) {
      <p-button
        label="Delete"
        icon="pi pi-trash"
        [outlined]="true"
        severity="danger"
      ></p-button>
    } @else {
      <p-button label="Save" [outlined]="true"></p-button>
    }

    <p-button
      label="Close"
      [outlined]="true"
      severity="secondary"
      (onClick)="hideForm()"
    ></p-button>
  </div>
</form>
