<div class="resume-container" id="resumePages">
  <div class="resume top">
    @if (personalDetails$ | async; as personalDetails) {
      <rb-personal-info-section
        [personalDetails]="personalDetails"
      ></rb-personal-info-section>
    }

    <div>
      @if (educationList$ | async; as educationList) {
        @if (showEducationList) {
          <rb-education-section
            [educationList]="educationList"
          ></rb-education-section>
        }
      }

      <rb-experience-section></rb-experience-section>
    </div>
  </div>
</div>
